WebContent/wsdl/ProvinciaDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DAO.GeopoliticaRD.org.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DAO.GeopoliticaRD.org.com" xmlns:intf="http://DAO.GeopoliticaRD.org.com" xmlns:tns1="http://models.GeopoliticaRD.org.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DAO.GeopoliticaRD.org.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models.GeopoliticaRD.org.com"/>
   <element name="findProvincia">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="findProvinciaResponse">
    <complexType>
     <sequence>
      <element name="findProvinciaReturn" type="tns1:Provincia"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models.GeopoliticaRD.org.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Provincia">
    <sequence>
     <element name="id" type="xsd:long"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findProvinciaRequest">

      <wsdl:part element="impl:findProvincia" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findProvinciaResponse">

      <wsdl:part element="impl:findProvinciaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProvinciaDAO">

      <wsdl:operation name="findProvincia">

         <wsdl:input message="impl:findProvinciaRequest" name="findProvinciaRequest">

       </wsdl:input>

         <wsdl:output message="impl:findProvinciaResponse" name="findProvinciaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProvinciaDAOSoapBinding" type="impl:ProvinciaDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findProvincia">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findProvinciaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findProvinciaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProvinciaDAOService">

      <wsdl:port binding="impl:ProvinciaDAOSoapBinding" name="ProvinciaDAO">

         <wsdlsoap:address location="http://localhost:8080/GeoPolitica_RD_WS/services/ProvinciaDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
